@page "/add-person"
@using OM.MFPTracker.Data.Models
@using OM.MFPTracker.Data.Services
@inject IFolioHolder FolioHolderRepo
@inject NavigationManager Navigation

<h3>Add Person</h3>
@code {
    private FolioHolder person = new FolioHolder { DateOfBirth = DateTime.Now };

    private async Task HandleValidSubmit()
    {
        await FolioHolderRepo.AddAsync(person);
        Navigation.NavigateTo("/people");
    }
}


<EditForm Model="person" OnValidSubmit="HandleValidSubmit">
    <!-- This shows all validation messages -->
    <ValidationSummary />

    <!-- Enable individual field validation -->
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>First Name</label>
        <InputText class="form-control" @bind-Value="person.FirstName" />
    </div>

    <div class="mb-3">
        <label>Last Name</label>
        <InputText class="form-control" @bind-Value="person.LastName" />
    </div>

    <div class="mb-3">
        <label>Date of Birth</label>
        <InputDate class="form-control" @bind-Value="person.DateOfBirth" />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>